.green-button { 
    background-color: #33b249; 
    color: #000000; 
} 
.green-button:hover { 
    border-color: #33b249;
    color: #ffffff; 
}

.copy-button {
    background-color: #33b249; 
    color: #000000; 
}

.copied-button {
    background-color: #383838;
    border-color: #33b249;
    color: #ffffff; 
}

.green-label {
    color: #33b249
}

.red-label {
    color: #ed333b
}